body {
  display: flex; }

.aside-menu {
  position: relative;
  width: 165px;
  height: 100vh;
  transition: all .6s; }

.body-area {
  width: calc(100% - 165px);
  height: 100vh;
  display: flex; }
  .body-area .left-box {
    width: 70%;
    height: 100vh;
    background: pink; }
  .body-area .right-box {
    width: 30%;
    height: 100vh; }

@media screen and (max-width) {
  .body-area {
    width: 100% !important; } }
