@media screen and (max-width: 300px) {
  .single-box-music {
    width: 190px !important; } }

@media screen and (min-width: 301px) and (max-width: 400px) {
  .left-box {
    height: 45rem; }
  .single-box-music {
    width: 300px !important; } }

@media screen and (min-width: 401px) and (max-width: 556px) {
  .single-box-music {
    width: 380px !important; } }

@media screen and (min-width: 500px) and (max-width: 600px) {
  .short-cut {
    width: 500px;
    display: flex;
    flex-flow: wrap !important;
    justify-content: center;
    align-items: center; }
    .short-cut .short-cut-box {
      margin-left: 29px !important;
      margin-right: 29px !important; } }

@media screen and (min-width: 601px) and (max-width: 749px) {
  .short-cut-box {
    margin-left: 59px !important;
    margin-right: 59px !important; } }

@media screen and (max-width: 556px) {
  .artist-area {
    height: 400px !important; } }

@media screen and (max-height: 700px) {
  .left-box {
    height: 45.5rem !important; } }

@media screen and (max-width: 992px) {
  .left-box {
    height: 45.5rem !important; } }
