@mixin circle-setting {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

@mixin flex-center-x {
  display: flex;
  justify-content: center;
}

@mixin startt {
  display: flex;
  justify-content: flex-start;
}

@mixin music-setting {
  width: 65px;
  height: 65px;
  border-radius: 25px;
}

@mixin flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin colum {
  flex-flow: column;
}

@mixin short-cut-setting {
  width: 120px;
  height: 50px;
  background: white;
  border-radius: 18px;
}
