body{
    display: flex;
}

.aside-menu{
    position: relative; // for move the close btn
    width: 165px; //165px when open
    height: 100vh;
    transition: all .6s; // when open has animation
}


.body-area{
    width: calc(100% - 165px);
    height: 100vh;
    display: flex; // for flex it right box and left box 

    .left-box{
        width: 70%;
        height: 100vh;
        background: pink;
    }

    .right-box{
        width: 30%;
        height: 100vh;

    }
}

// responsive layout when moblie size and aside menu not opend
